body{
	margin: 0;
	padding: 0;
	color: #222;
	font-size: 14px;
	background-color: #EEE;
	font-family: "Open Sans", sans-serif;
}

section{
	display: block;
	margin-left: 20px;
	margin-bottom: 20px;
}

h3{
	margin: 5px 0px 10px;
	font-size: 24px;
	font-weight: normal;
}

select, label{
	display: block;
}

input[type=number]{
	width: 40px;
}

input[type=text]{
	width: 120px;
}

/* ============================ */

.no-select{
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.wrapIt{
	overflow: hidden;
	margin-left: 0;
	width: 100%;
}

.cell{
	margin: 0;
	width: 32px;
	padding: 8px;
	text-align: center;
	background-color: #EEE;
	
	display: table-cell;
	
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;

	font-size: 1.2em;
	white-space: pre;
	align-self: center;
	font-family: "Roboto Mono";
}

.cell::after{
	content: attr(index);
	color: #666;
	font-size: 0.5em;
	font-family: sans-serif;
	
	display: inline-block;
	width: 2px;
	
	position: relative;
	top: 1.2em;
	left: -0.1em;
}

.head{
	box-shadow: 0 4px 0 0 #f30 inset;
}


.fblock{
	float: left;
	display: inline-block;
	margin-right: 12px;
}

.code textarea{
	margin: 2px 0;
	resize: none;
	width: 150px;
	height: 160px;
	font-family: monospace;
	border: 1px solid silver;
}

.code input{
	display: block;
	margin: auto;
}

.save-load input{
	display: inline;
}

.bg-yellow{ background-color: #FFC; }
.bg-green{ background-color: #CFC; }
.bg-red{ background-color: #FCC; }

/* ============================ */

#tape{
	display: table;
	margin-top: 10px;
	margin-left: 20px;
	position: relative;
	border-collapse: collapse;
}

#tmState {
	font-family: monospace;
}

#tableTrans{
	font-family: monospace;
	border: 1px solid black;
	text-align: center;
}

#tableTrans th, #tableTrans td{
	padding: 4px 10px;
	border: 1px solid black;
}

#tableTrans tr:first-child td:first-child{
	padding: 24px 0;
	font-size: 0.9em;
	transform: rotate(-90deg);
}

#tableTrans tr:first-child{
	font-family: sans-serif;
}

#tableTrans tr:first-child, #tableTrans tr:nth-child(2), #tableTrans td:first-child{
	font-weight: bold;
}